# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntellijIdea files
.idea
/.idea/
!/qodana.yaml
!/src/configs/database.ini
