:root {
    /* Основные цвета UI (Фиолетовая тема) */
    --primary-hue: 10; /* Фиолетовый оттенок */
    --color--primary: hsl(229, 19%, 60%);
    --color--primary--hover: hsl(229, 19%, 60%);
    --color--primary--alpha: 134, 141, 172;
    --color--primary--active: hsl(216, 33%, 75%);
    --color--secondary: hsl(216, 33%, 75%);
    --color--secondary--hover: hsl(229, 19%, 45%);
    --color--tertiary: hsl(0, 0%, 45%);
    --color--tertiary--hover: hsl(0, 0%, 25%);
    --color--accent: var(--color--secondary--hover);
    --color--accent--hover: hsl(229, 90%, 50%);

    --color--error--basic: rgb(144,0,0);
    --border--color--error--basic--alpha: 241,168,153;
    --background--error--basic--alpha: 255,110,110;
    --background--normal--basic--alpha: 170, 187, 212;
    --background--good--basic--alpha: 150,230,200;

    /* Цвета текста */
    --text-color--primary: #333;
    --text-color--secondary: #777;
    --text-color--light: #fff;
    --text-color--light-light: #fff;

    --color--good--basic: rgb(100,150,100);


    /* Цвета фона */
    --background-color--primary: #fff;
    --background-color--primary--alpha: 255,255,255;
    --background-color--secondary--alpha: 239, 235, 235;
    --background-color--secondary: rgb(var(--background-color--secondary--alpha));

    --background-color--tertiary: #e0e0e0;
    --background-color--tertiary--alpha: 224, 224, 224;


    /* Границы */
    --border-color: #ebebeb;

    /* Тени */
    --shadow-01: 0px 2px 4px rgba(37, 37, 37, 0.1);
    --shadow-02: 0px 4px 8px rgba(37, 37, 37, 0.1);
    --shadow-03: 0px 8px 16px rgba(37, 37, 37, 0.1);
    --shadow-04: 0px 16px 24px rgba(37, 37, 37, 0.1);
    --shadow-05: 0px 24px 32px rgba(37, 37, 37, 0.1);

    /* Типография */
    --font-family: 'Roboto', sans-serif;
    --font-size--base: 16px;
    --line-height--base: 1.5;

    /* Отступы и интервалы */
    --spacing--small: 0.5rem;
    --spacing--medium: 1rem;
    --spacing--large: 1.5rem;

    /* Радиус скругления */
    --border-radius: 5px;
    --border-radius-button: 5px;

    --background-image: url("/global/images/background_light.svg");
}

/* Тёмная тема */
body.dark-theme {
    /* Цвета текста */
    --text-color--primary: #eee;
    --text-color--secondary: #ccc;

    --color--accent: var(--text-color--primary);

    /* Цвета фона */
    --background-color--primary: #121212;
    --background-color--secondary--alpha: 30, 30, 30;

    --background-color--primary--alpha: 18,18,18;
    --background-color--secondary: rgb(var(--background-color--secondary--alpha));

    --background-color--tertiary: #2a2a2a;
    --background-color--tertiary--alpha: 42, 42, 42;

    --text-color--light: #000;
    --text-color--light-light: #eed;

    /* Границы */
    --border-color: #333;

    --color--primary--active: hsl(210, 14%, 53%);

    /* Тени (немного ослаблены для тёмной темы) */
    --shadow-01: 0px 2px 4px rgba(0, 0, 0, 0.3);
    --shadow-02: 0px 4px 8px rgba(0, 0, 0, 0.3);
    --shadow-03: 0px 8px 16px rgba(0, 0, 0, 0.3);
    --shadow-04: 0px 16px 24px rgba(0, 0, 0, 0.3);
    --shadow-05: 0px 24px 32px rgba(0, 0, 0, 0.3);

    --background-image: url("/global/images/background_dark.svg");

    --color--error--basic: rgb(241,168,153);
    --color--good--basic: rgb(125,250,150);

    --background--good--basic--alpha: 100,175,100;

}

body {
    font-family: var(--font-family);
    font-size: var(--font-size--base);
    line-height: var(--line-height--base);
    background-color: var(--background-color--primary);
    color: var(--text-color--primary);

    margin: 0;

}

body:not{.is-animating}{
    transition: background-color 0.3s ease;
}

.button--primary {
    background-color: var(--color--primary);
    color: var(--text-color--light);
    border-radius: var(--border-radius);
    padding: var(--spacing--medium) var(--spacing--large);
    box-shadow: var(--shadow-02);
}

.button--primary:hover {
    background-color: var(--color--primary--hover);
}

.card {
    border: 1px solid var(--border-color);
    border-radius: calc(var(--border-radius)*5);
    padding: var(--spacing--medium);
    background-color: rgba(var(--background-color--secondary--alpha), 0.8);
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow-01);
}
.card-primary {
    border: 1px solid var(--border-color);
    border-radius: calc(var(--border-radius)*5);
    padding: var(--spacing--medium);
    background-color: rgba(var(--background-color--primary--alpha), 0.8);
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow-01);
}

body::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
    background: var(--background-color--primary);        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
    background-color: var(--text-color--secondary);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid var(--background-color--primary);   /* padding вокруг плашки */
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@font-face {
    font-family: 'CodeFonts'; /*a name to be used later*/
    src: url('/global/fonts/Arkhip.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'TextFonts'; /*a name to be used later*/
    src: url('/global/fonts/Nutito.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'HackerFonts'; /*a name to be used later*/
    src: url('/global/fonts/HACKED_Title.ttf'); /*URL to font*/
}

.hidden{
    display: none;
}

html, body{
    overflow-x: hidden;
}
body {
    position: relative;
}

.hidden_block{
    opacity: 0;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/global/css/font/MaterialIcons-Regular.eot);
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/global/css/font/MaterialIcons-Regular.woff2) format('woff2'),
    url(/global/css/font/MaterialIcons-Regular.woff) format('woff'),
    url(/global/css/font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}